<!DOCTYPE html>


<div class="sidenav">
    <img class="logo" src="assets/logo.png">

    <a routerLink="/home">Home</a>
    <a href="#userstories">User stories</a>
    <a routerLink="/internetCafe">Internet cafes</a>
    <a routerLink="/chart">Statistics</a>
</div>
<div class="main">

    <body id="page-top">
        <!-- <div class="first">

 </div> -->
      
        
        <div class="row">
          <div class="column" >
            <table class="table table-striped custab ">
                <thead>
                    <!-- <a href="#" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new categories</a> -->
                    <tr class="m-0 font-weight-bold text-primary">
                        <th>Internet Cafe Name</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tr *ngFor="let item of itemList | paginate :config ">
                    <td>{{item.name}}</td>
                    <td>{{item.address}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.phone}}</td>
                    <td class="text-center"><a (click)="onDelete(item.key)" class="btn btn-light btn-xs"><span class="glyphicon glyphicon-remove"></span><i class="material-icons">
                      delete
                      </i></a></td>
                    <td class="text-center"><a (click)="onUpdate(item)" class="btn btn-light  btn-xs"><span class="glyphicon glyphicon-remove"></span> <i class="material-icons">
                      update
                      </i></a></td>
                    <td class="text-center"><a (click)="commentPage(item)" class="btn btn-light  btn-xs"><span class="glyphicon glyphicon-remove"></span> <i class="material-icons">
                      comment
                      </i></a></td>
                </tr>
            </table>
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>

          </div>
         
        </div>
</body>
</div>
       

   

