.row1{
    border-bottom: 1px solid red;
}
.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }
    .sidenav {
        height: 100%;
        width: 165px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #689ACA;
        overflow-x: hidden;
        padding-top: 20px;
      }
      
      .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #111;
        display: block;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      
      .main {
        margin-left: 160px; /* Same as the width of the sidenav */
        font-size: 20px; /* Increased text to enable scrolling */
        padding: 0px 10px;
        background-color: #689ACA;
      }
      
      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }
.logo{
  width: 160px;
}
.first{
  height: 30px;
  background-color: #689ACA;
}
      * {
  box-sizing: border-box;
}

.pagination>li>a, .pagination>li>span { border-radius: 50% !important;margin: 0 5px;}
// .pagination {
//   display: inline-block;
// }

// .pagination a {
//   color: black;
//   float: left;
//   padding: 8px 16px;
//   text-decoration: none;
//   transition: background-color .3s;
//   border: 1px solid #ddd;
// }

// .pagination a.active {
//   background-color: #4CAF50;
//   color: white;
//   border: 1px solid #4CAF50;
// }

// .pagination a:hover:not(.active) {background-color: #ddd;}

