<!DOCTYPE html>
<html lang="en">

  <div class="sidenav">
    <img class="" src="assets/logo.png">
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#clients">Clients</a>
    <a href="#contact">Contact</a>
  </div>
  <div class="main">
<body id="page-top">
 
 

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Content Row -->

          
                  <div class="row">
            
                      <!-- Earnings (Monthly) Card Example -->
                      <div class="col-xl-3 col-md-6 mb-4"  *ngFor="let item of itemList">
                        <div class="card border-left-primary shadow h-100 py-2">
                          <div class="card-body">
                            <div class="row no-gutters align-items-center">
                              <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{item.name}}</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{item.address}}</div>
                                <button (click)="commentPage(item)">Comments</button>
                              </div>
                              <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
          
                    </div>
            

          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Registered internet cafe per user</h6>
                 
                </div>
                <!-- Card Body -->
                <div class="card-body" *ngFor="let users of userList">
                  <div class="chart-area">
                   
                    <div class="container">
                      <div class="row">
                        <div class="col-sm">
                          {{users.username}}
                        </div>
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-sm"*ngFor="let item of itemList">
                                  <div *ngIf="users.UserID == item.uid">
                                    {{item.name}}
                                  </div>
                                  </div>
                            </div>
                          </div> 
                          
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">List of registered users</h6>
                
                </div>
                <!-- Card Body -->
                <div class="card-body"*ngFor="let users of userList">
                    <div class="container">
                        <div class="row">
                          <div class="col-sm">
                            Name : {{users.username}}
                          </div>
                          <div class="col-sm">
                           Email : {{users.email}}
                          </div>
                          
                        </div>
                      
                      </div>
                  
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->
          <div class="row">



                <!-- Area Chart -->
                <div class="col-xl-6 col-lg-4">
                  <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                      <h6 class="m-0 font-weight-bold text-primary">Number of internet cafe per location</h6>
                      <div class="dropdown no-arrow">
                         
                      </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                      <div class="chart-area">
                        <canvas id="myAreaChart"></canvas>
                      </div>
                    </div>
                  </div>
                </div>

            <div class="col-lg-6 mb-4">

              <!-- User stories -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">User Stories</h6>
                </div>
                <div class="card-body">
                    <h6 class="m-0 font-weight-bold" >Suggested List</h6>
                  <p>As a user i would like to view the suggested list of internet cafes , 
                    in order to see all available, So that i can select the nearest one.
                  </p>
                  
                
                
                    <h6 class="m-0 font-weight-bold ">Register and LogIn</h6>
                    <p>As a user i would like to  to register and login in order to have 
                        access to develop the app, So that i can view more information.
                    </p>
                    
                  
                 
                      <h6 class="m-0 font-weight-bold ">Service</h6>
                      <p>As a user i would like to view specific internet cafes , 
                          in order to  see services they offer , So that i can compare their prices.
                      </p>
                      
                    
                    
                        <h6 class="m-0 font-weight-bold ">Map</h6>
                        <p>As a user i would like to do filtered search , in order to locate internet cafes in other areas, 
                            So that i can easily access internet cafes from different locations.
                        </p>
                        
                      </div>
              </div>

              <!-- Approach -->

            </div>
          </div>

        </div>
        <div class="container" >
          <div class="row col-md-12 col-md-offset-2 custyle">
          <table class="table table-striped custab">
          <thead>
          <!-- <a href="#" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new categories</a> -->
              <tr class="m-0 font-weight-bold text-primary">
                  <th>internet cafe name</th>
                  <th>Address</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th class="text-center">Action</th>
              </tr>
          </thead>
                  <tr *ngFor="let item of itemList">
                      <td>{{item.name}}</td>
                      <td>{{item.address}}</td>
                      <td>{{item.email}}</td>
                      <td>{{item.phone}}</td>
                      <td class="text-center"><a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
                  </tr>
                 
          </table>
          </div>
      </div>
      <!-- graph -->


  <div>
      <div style="display: inline">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType">
        </canvas>
      </div>
    </div>




</body>
</div>
</html>
