<!DOCTYPE html>
<html lang="en">

<div class="sidenav">
    <img class="logo" src="assets/logo.png">
    <br><br><br>
    <a (click)="Home()">Home</a>
    <a (click)="Internertcafes()">Internet Cafes</a>
    <a (click)="registeredcafes()">Registered Users</a>
    <a (click)="statistics()">Statistics</a>
   
  </div>
  <div class="main">
<body id="page-top">

 <br>
 
 <div class="theBody"> 
        <div class="container-fluid"></div>
      
      
 <div fxLayout fxLayoutAlign="center center" class="search" *ngIf="search">
    <mat-form-field fxFlex="100%">
      <input matInput type="text"  (keyup)="filterList($event)" placeholder="Search">
    </mat-form-field>
  </div>
        <div class="row" *ngIf="Internertcafe">
    
          <div class="column" >
            <table class="table table-striped custab ">
                <thead>
                    <tr class="m-0 font-weight-bold text-primary">
                        <th>Internet Cafe Name</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tr *ngFor="let item of itemList1 | paginate :{ itemsPerPage: 5, currentPage: a, id: 'a' } ">
                    <td>{{item.name}}</td>
                    <td>{{item.address}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.phone}}</td>
                    <td class="text-center"><a (click)="onDelete(item.key)" class="btn btn-light btn-xs"><span class="glyphicon glyphicon-remove"></span><i class="material-icons">
                      delete
                      </i></a></td>
                    <td class="text-center"><a (click)="onUpdate(item)" class="btn btn-light  btn-xs"><span class="glyphicon glyphicon-remove"></span> <i class="material-icons">
                      update
                      </i></a></td>
                    <td class="text-center"><a class="btn btn-lg btn-outline-primary" (click)="open(content,item)"><span class="glyphicon glyphicon-remove"></span> <i class="material-icons">
                      comment
                      </i></a></td>
                </tr>
            </table>
            <pagination-controls (pageChange)="a =$event"id="a"></pagination-controls>

          </div>
         
        </div>
<!-- **************************** -->


<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Comments</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    
                <div class="container" >
                        <div class="row col-md-12 col-md-offset-2 custyle">
                        <table class="table table-striped custab">
                        <thead>
                            <br>
                        <!-- <a href="#" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new categories</a> -->
                            <tr class="m-0 font-weight-bold text-primary">
                                <th>User</th>
                                <th>Comment</th>
                                <!-- <th>Date</th> -->
                               
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                                <tr *ngFor="let comment of list"  class="cc">
                                    <td><strong>{{comment.Name}}</strong></td>
                                    <td>{{comment.Message}}</td>
                                    <!-- <td>{{comment.Timestamp}}</td>             -->
                                    <td class="text-center"><a (click)="theDelete(comment)" class="btn btn-light btn-xs"><span class="glyphicon glyphicon-remove"></span><i class="material-icons">
                                            delete
                                            </i></a></td>
                    
                                </tr>
                        </table>
                        </div>
                    </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>
  
  
  
  <hr>
  
  <pre>{{closeResult}}</pre>
<!-- ************************** -->
         
 

          

   <div class="row" *ngIf="registeredcafe">
             
                <!-- registered users -->
                <div class="col-xl-6 col-lg-5" >
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align--center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Registered internet cafe per user</h6>

                        </div>
                        <!-- Card Body -->

                        <div class="card-body" *ngFor="let users of userList | paginate :{ itemsPerPage: 5, currentPage: b, id: 'b' } ">
                            <div class="chart-area">

                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm">
                                            Name: {{users.username}}
                                        </div>
                                        <!-- {{users.username}} -->
                                        <div class="col-sm">
                                            <div class="col-sm" *ngFor="let item of itemList">
                                                <div *ngIf="users.UserID == item.uid">
                                                    {{item.name}}<br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <pagination-controls (pageChange)="b =$event"id="b"></pagination-controls>
                    </div>
                    
                </div>

                <div class="col-xl-6 col-lg-5" *ngIf="registeredusers">
                    <div class="card shadow mb-4" >
                     
                        <div class="card-header py-3 d-flex flex-row align--center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">List of registered users</h6>
                        </div>

                        <div class="card-body" *ngFor="let users of userList | paginate :{ itemsPerPage: 5, currentPage: c, id: 'c' }">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm">
                                        Name : {{users.username}}
                                    </div>
                                    <div class="col-sm">
                                        Email : {{users.email}}
                                    </div>
                                    <div class="col-sm">
                                        <td class="text-center"><a (click)="onDelete(item.key)" class="btn btn-light btn-xs"><span class="glyphicon glyphicon-remove"></span><i class="material-icons">
                                            delete
                                            </i></a></td>
                                    </div>
                                   

                                </div>

                            </div>

                        </div>
                      
  
                        <pagination-controls (pageChange)="c =$event"id="c"></pagination-controls>
              </div>
            </div>
            
</div>
            <!-- Content Row -->
            <div class="row"*ngIf="statistic" >

                       <!-- pie chart for ethnicity statistics -->
                <!-- <div class="stats" *ngIf="locations"> -->
                <div class="col-xl-6 col-lg-4" >
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align--center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Ethnicity statistics of registered users</h6>
                            <div class="dropdown no-arrow">

                            </div>
                        </div>
                        <!-- Card Body -->
                        <div class="col-xl-8 col-lg-4">
                        <div class="card-body">
                            <div class="chart-area">
                                    
                                            <canvas class="chart" id="chart" width="200" height="200"></canvas>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

               <!-- Bar graph -->
               <div class="col-xl-6 col-lg-4">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align--center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Gender statistics of registered users</h6>
                            <div class="dropdown no-arrow">

                            </div>
                        </div>
                        <!-- Card Body -->
                        <div class="col-xl-8 col-lg-4">
                        <div class="card-body">
                            <div class="chart-area">
                                            <canvas id="chart2" width="200" height="200"></canvas>
                                      
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

           

        
<!-- line graph -->
<div class="col-xl-6 col-lg-4">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align--center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Ethnicity per gender statistics of registered users</h6>
                <div class="dropdown no-arrow">

                </div>
            </div>
            <!-- Card Body -->
            <div class="col-xl-10 col-lg-4">
            <div class="card-body">
                <div class="chart-area">
   
                    <canvas id="chart3" width="200" height="200"></canvas> 
                </div>
            </div>
            </div>
        </div>
    </div>
  </div>
</div>
<!-- <app-map></app-map> -->
<!-- <div class="app-map"></div> -->
        </body>
      
    </div>
   </html>

